/*url(https://fonts.googleapis.com/css?family=Bitter);*/
/*FFT1の背景*/
    body {
      margin: 0;
      font-family: 'Bitter', serif;
      text-align: center;
    }
    .holder,
    .first,
    .second,
    .third {
      height: 100vh;
      width: 100vw;
    }
    .first,
    .second,
    .third {
      position: absolute;
    }
    .second,
    .third {
      opacity: 0;
    }
    .holder {
      height: 100vh;
      position: relative;
      z-index: 1;
    }
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    body {
      background: linear-gradient(90deg,#3f4593,#5960bd);
      margin: 0;
    }
     /*タイトル*/
     h1 {
      text-align: center;  
      top: 0%;
      color: rgb(78, 78, 61);
    }
  
    p{
      text-align: center;  
      color: rgb(78, 78, 61);
      }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
    }

    .first {
      animation: first 10s infinite;
      background: linear-gradient(#5ff8ca, #60e08c);
      z-index: 10;
    }
      @keyframes first {
        0% {opacity: 1.0;}
        10% {opacity: 0.8;}
        20% {opacity: 0.6;}
        30% {opacity: 0.4;}
        40% {opacity: 0.2;}
        50% {opacity: 0.1;}
        60% {opacity: 0.2;}
        70% {opacity: 0.4;}
        80% {opacity: 0.6;}
        90% {opacity: 0.8;}
        100% {opacity: 1.0;}
      }

    .second {
      animation: second 10s infinite; animation-delay: 2s;
      background: linear-gradient(#19eaa6, #00a1f0);
      z-index: 20;
    }
      @keyframes second {
        0% {opacity: 0;}
        10% {opacity: 0.2;}
        20% {opacity: 0.4;}
        30% {opacity: 0.6;}
        40% {opacity: 0.8;}
        50% {opacity: 1.0;}
        60% {opacity: 0.8;}
        70% {opacity: 0.6;}
        80% {opacity: 0.4;}
        90% {opacity: 0.2;}
        100% {opacity: 0;}
      }

    .third {
      animation: third 10s infinite;
      animation-delay: 8s;
      background: linear-gradient(#aab7f8, #ff75c6);
      z-index: 30;
    }
      @keyframes third {
        0% {opacity: 0;}
        10% {opacity: 0.2;}
        20% {opacity: 0.4;}
        30% {opacity: 0.6;}
        40% {opacity: 0.8;}
        50% {opacity: 1.0;}
        60% {opacity: 0.8;}
        70% {opacity: 0.6;}
        80% {opacity: 0.4;}
        90% {opacity: 0.2;}
        100% {opacity: 0;}
      }

.txt {
    margin-top: calc(35vh - 43px);
    position: absolute;
    width: 100%;
    z-index: 1000;
}


/*STARTボタン*/
.button_place{
    top: 900pt;
    text-align: center;
}
.btn-square-above-look {
    display: inline-block;
    position: relative;
    padding: 0.35em 1em;
    background: #cca144;/*ボタン色*/
    color: #FFF;
    text-decoration: none;
}
  
.btn-square-above-look:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: -webkit-calc(100% );
    width: calc(100% );
    height: 0;
    border: solid 8px transparent;
    border-bottom-color: #e2d456;/*ボタン色より明るめの色に*/
}
  
.btn-square-above-look:active {
    /*押したとき*/
    padding: 0.32em 0.9em;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
  
.btn-square-above-look:active:before { 
    width: -webkit-calc(100%);
    width: calc(100%);
}
  
.btn-square-above-look:active:before {
    top:-12px;
    border-width: 6px;
}
/*new memberボタン*/

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ff6795;
  border: solid 2px #ff67a1;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #ff6795;
  color: rgb(255, 255, 255);
}

